.bodys {
    min-height: 90vh;
    width: 95%;
    background-color: #e4e4e4;
    display: flex;
    /* Responsive behaviour */
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 40px 16px;
}